$color2: black;
$colorSpecial: linear-gradient(
    45deg,
    rgba(250, 219, 219, 1),
    rgba(253, 129, 171, 0.46),
    rgba(220, 178, 83, 1)
  )
  1;
$font-primary: Merienda;
$font-secondary: Inter-bold;

.availability {
  background-image: url(/img/background_availability.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  #sous-titre {
    font-family: $font-secondary;
  }

  .box {
    max-width: 1100px;
    height: 630px;
    border: 1px solid rgba(196, 194, 194, 0.8);
    overflow-y: auto;
  }

  .box::-webkit-scrollbar {
    width: 8px;
    overflow: visible;
  }

  .box::-webkit-scrollbar-thumb {
    background-color: #fd81ab;
    border-radius: 4px;
  }

  .box::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 16px;
  }

  .card {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  }
}
