.card.disabled {
    background-color: #afafaf;
    pointer-events: none;
  }

  .card.disabled:hover {
    background-color: #afafaf;
    cursor: not-allowed;
  }

  .selected {
    background-color: rgb(224 242 254);
  }

  .card:hover{
    cursor: pointer;
  }
