$title-color : #662E3D;
$border-color:#784F5B;
$font-title: Inter-bold;


@font-face {
    font-family: "Inter-Bold";
    src: url(/public/fonts/Inter-Bold.ttf);
  }

.button-update {
    background-color: white;
    box-shadow: 0px 4px 2px -1px rgba(120, 79, 91, 0.25);
    border-radius: 0.5rem;
    border: 1px solid #784F5B;
}





