@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("header.scss");
@import url("footer.scss");
@import url("reservation.scss");
@import url("testimony.scss");
@import url("article.scss");
@import url("join.scss");
@import url("payment.scss");
@import url("information.scss");
@import url("register.scss");

* {
  padding: 0%;
  margin: 0%;
}

body {
  overflow-x: hidden;
}
