$mainColor:#FEF2F0;
$color-list: #fd6c9e;

$font-title: Architect;
$font-main: Inter-Regular;
$font-main_bold: Inter-SemiBold;

#not-found-section {
  font-family: $font-main;

  .picture-error {
    background-color: $mainColor ;
  }

  h1 {
    font-family: $font-title;
  }

  ul {
    color: $color-list;
    font-family: $font-main_bold;
  }
}

@media screen and (max-width: 900px) {
  img {
    width:350px ;
  }
}
