.register {
    h2{
        font-family: "Merienda";
        font-size: 25px;
        margin-bottom: 50px;
    }
    label{
        font-family: "Inter-Bold";
        font-size: 15px;
        margin-top: 7px;
    }
    button{
        background-color: #FD81AB;
    }
}
