.signinform{
    @font-face {
        font-family: "MeriendaBold";
        src: url(/fonts/Merienda-Bold.ttf);
      }
      h1{
        font-family: "MeriendaBold";
      }
      label{
        margin-left: 650px;
      }
}