@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Merienda";
  src: url(/fonts/Merienda-Bold.ttf);
}

$color2: #fd6c9e;
$colorSpecial: linear-gradient(
    45deg,
    rgba(250, 219, 219, 1),
    rgba(253, 129, 171, 0.46),
    rgba(220, 178, 83, 1)
  )
  1;
$font-primary: Merienda;

.testimony {
  display: flex;
  flex-direction: column;


#testimony-container{
  margin: 100px 50px;
}

form {
  display: grid;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  input,
  textarea {
    margin: 5px 0;
    padding: 5px;
    border-width: 3px;
    border-image: $colorSpecial;
    resize: none;
    font-family: $font-primary;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    background: rgba(235, 196, 209, 0.25);
    color: black;
  }
  textarea {
    height: 80px;
    font-family: $font-primary;
  }
  p {
    font-size: 0.8rem;
    color: red;
  }
  input[type="submit"] {
    width: 200px;
    margin-left: auto;
    cursor: pointer;
    transition: 0.4s;
    background-color: #fd6c9e;

    &:hover {
      color: white;
    }
  }
  @media screen and (max-width: 900px) {

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      input,
      textarea {
        width: 250px;
      }
      
  
      input[type="submit"] {
        width: 100px;
        margin: auto;
      }
    }
  }
  
}


}